@use '../../variables';

.add-password {
  padding: 1rem;

  &-form {
    .field {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      input {
        padding: 0.125rem 0.25rem;
      }
    }

    .btn {
      margin-top: 1rem;
      padding: 0.25rem 0.5rem;
      color: white;
      border-radius: 3px;
      background-color: variables.$darkBluePrimary;
      border: none;

      transition: background-color 200ms ease;

      &:hover {
        cursor: pointer;
        background-color: lighten(variables.$darkBluePrimary, 5);
      }
    }
  }
}
