.password {
  padding: 1rem 0.5rem;

  &-name {
    margin: 0 auto;
    width: max-content;
    margin-bottom: 1rem;
  }

  &-email,
  &-password,
  &-website {
    display: grid;
    grid-template-columns: 12fr 1fr;
    grid-template-rows: 1fr 1fr;

    .title {
      grid-column: 1 / 3;
    }
    .text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .icon:hover {
      cursor: pointer;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
